/* General */
* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
body {
    padding-top: 69px;
}
h2 {
    font-size: 1.5rem;
}
/* Nav bar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    opacity: 1;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width:auto;
    right: 10px;
}
header img {
    height: 50px;
    margin-left: 10px;
    float: left;
}
nav li {
    display: inline-block;
    text-decoration: underline;
    padding: 0 20px 0 0;
}
/* Mission statement */
#mission {
    height:700px;
    width: auto;
    background-image: url("./images/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#mission h2,
#mission h4 {
    width: 100%;
    margin: 0;
    padding: 10px;
}

#featured {
    width: 1000px;
}
figure img{
    height: 200px;
    width: 300px;
}